body {
  background: #FFFFFF;
  font-family: sans-serif;
  font-weight: 200;
  color: #50514F;
}

::selection{
	color: #247BA0;
	background: #FFE066;
} 
::-moz-selection {
	color: #247BA0;
	background: #FFE066;
}
.Input {
	padding: 10px;
	display: flex;
	max-width: 500px;
}

.Input input, .RefreshIcon {
	width: 50px;
}

.Input span {
	flex: 1;
}

.ResizableExample video {
	cursor: pointer;
}

.App {
	padding: 50px 20px;
	max-width: 720px;
}

.RefreshIcon {
	cursor: pointer;
}


.ExternalNav img:hover {
	-webkit-filter: brightness(4);
	filter: brightness(2.5);
	transition: all 0.3s;
}

.ExternalNav img {
	width: 32px;
	height: 32px;
}
.App {
	padding-top: 50px;
}
