body {
  background: #FFFFFF;
  font-family: sans-serif;
  font-weight: 200;
  color: #50514F;
  margin: 0;
}

a {
  color: #50514F;
}
a:hover {
  color: #247BA0;
  transition: all 0.3s;
}

::selection{
  color: #247BA0;
  background: #FFE066;
} 
::-moz-selection {
  color: #247BA0;
  background: #FFE066;
}
.Input {
  padding: 10px;
  display: flex;
  max-width: 500px;
}

.Input input, .RefreshIcon {
  width: 50px;
}

.Input span {
  flex: 1;
}

.ResizableExample video {
  cursor: pointer;
}

.Content {
  flex: 1;
  margin-top: 60px;
}

.RefreshIcon {
  cursor: pointer;
}

.ResizableBox {
  width: 100px;
  height: 100px;
  background: #247BA0;
  padding: 5px;
  margin-top: 10px;
  resize: both;
  overflow: hidden;
  box-shadow: 4px 4px 6px -5px #50514F;
}

.RefreshIcon.active svg {
  animation-name: rotate; 
  animation-timing-function: linear;
  transition-property: transform;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  padding: 0 20px;
  max-width: 720px;
  margin: 0 auto;
}

.Footer {
  margin-top: 20px;
  padding: 10px 20px;
  border-top: 1px solid #247BA0;
  text-align: center;
}

